* {
  margin: 0;
  box-sizing: border-box;
}
div {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.products {
  background-color: red;
  width: 400px;
  height: 500px;
  margin: 10px;
}

mat-card {
  background-color: blue;
  height: 100%;
}
